<form [formGroup]="detailsForm" (ngSubmit)="onSubmit()" *ngIf="details">
  <div class="details">
    <h2 class="title">Step-2</h2>
    <div class="gender">
      <h3>sesso</h3>
      <label class="label-gender">
        <input
          type="radio"
          ng-model="gender"
          name="gender"
          value="uomo"
          formControlName="gender"
        />
        uomo</label
      >
      <label class="label-gender">
        <input
          type="radio"
          ng-model="gender"
          name="gender"
          value="donna"
          formControlName="gender"
        />donna</label
      >
    </div>
    <h3>email</h3>
    <input
      type="email"
      name="email"
      formControlName="email"
      placeholder="email"
    />
    <button type="submit" class="btn" [disabled]="detailsForm.invalid">
      next
    </button>
  </div>
</form>
