<div class="progress-bar-container" (scroll)="onScrollEvent($event)">
  <span class="progress">{{ progress.toFixed(0) }} %</span>
  <div
    class="progress-bar {{ color }}"
    [ngStyle]="{ width: progress + '%' }"
  ></div>
</div>
<div class="text-container">
  <h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
    repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
    repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
    repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Possimus repudiandae facere totam animi reprehenderit sed
    beatae. Qui, dicta repellendus temporibus error eligendi dolor, iste
    perferendis quasi ad aspernatur reprehenderit dignissimos?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus repudiandae facere totam
    animi reprehenderit sed beatae. Qui, dicta repellendus temporibus error
    eligendi dolor, iste perferendis quasi ad aspernatur reprehenderit
    dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Possimus repudiandae facere totam animi reprehenderit sed beatae. Qui, dicta
    repellendus temporibus error eligendi dolor, iste perferendis quasi ad
    aspernatur reprehenderit dignissimos?
  </p>
  <img
    src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.6435-9/82211036_774206829750310_7014219710820515840_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=e3f864&_nc_ohc=dcVFWyWYGTcAX9WyYzR&tn=aMXhMJ61Pjs7ypTG&_nc_ht=scontent-mxp1-1.xx&oh=f94c926f6cf29c682109fdbdf2500989&oe=60E4A470"
    alt=""
  />
</div>
