@import '../../styles.scss';

.progress-bar-container {
  background-color: rgb(199, 197, 197);
  position: fixed;
  top: $navbar-width;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 0.5;
  padding: 10px 0;
  z-index: 100;
  .progress {
    margin-left: 49%;
    font-weight: bold;
  }
}

.progress-bar {
  height: 12px;
  width: 0;
  margin-top: 15px;
}
.progress-bar.green {
  background-color: green;
}
.progress-bar.yellow {
  background-color: yellow;
}
.progress-bar.red {
  background-color: red;
}

.text-container {
  margin-top: 120px;
  position: relative;
  .upBtn {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 20px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}
