<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="password-container">
    <label for="pass">Password (8 characters minimum):</label>
    <div class="password">
      <input
        [type]="password"
        id="pass"
        name="password"
        formControlName="password"
        required
      />
      <button type="button" (click)="showPassword(password)">
        {{ showHide }}
      </button>
    </div>
    <button type="submit" class="saveBtn">save</button>
    <p class="errors" *ngIf="minLenghtError">
      La password deve essere lunga almeno 8 caratteri
    </p>
    <p class="errors" *ngIf="SpecialCharactersError">
      La password deve contenere almeno un carattere speciale
    </p>
  </div>
</form>
