<div class="multi-step-form-container">
  <div class="multi-step-form">
    <div class="step-numbers" *ngIf="!accept">
      <span class="number active">1</span>
      <span class="number" [class.active]="!formGeneralityInfo.visibile"
        >2</span
      >
      <span class="number" [class.active]="!formDetailsInfo.visibile">3</span>
    </div>
    <!-- il primo form è visibile perchè la proprietà visibile dell'oggetto formGeneralityInfo è settata a true -->
    <!-- quando nel form si fa il submit, quella proprietà diventa false per renderlo invisibile -->
    <!-- nel metodo outputGeneralityInfo ci sarà la costante formInfo creata all'interno del componente generality-form -->
    <app-generality-form
      *ngIf="formGeneralityInfo.visibile"
      (generality)="outputGeneralityInfo($event)"
    ></app-generality-form>
    <!-- stessa cosa di sopra, soltanto che il form sarà visibile se la proprietà visibile dell'oggetto formGeneralityInfo diventa false e se la proprietà visibile dell'oggetto formDetailsInfo è true-->
    <app-details-form
      *ngIf="!formGeneralityInfo.visibile && formDetailsInfo.visibile"
      (details)="outputDetailsInfo($event)"
    ></app-details-form>

    <!-- il form sottostante è visibile se gli altri 2 form hanno proprietà visibile === false e se la proprietà accept è false -->
    <div
      *ngIf="
        !formGeneralityInfo.visibile && !formDetailsInfo.visibile && !accept
      "
    >
      <div class="accept">
        <h2 class="title">Riepilogo</h2>
        <p>nome: {{ formGeneralityInfo.nome }}</p>
        <p>cognome: {{ formGeneralityInfo.cognome }}</p>
        <p>età: {{ formGeneralityInfo.eta }}</p>
        <p>sesso: {{ formDetailsInfo.gender }}</p>
        <p>email: {{ formDetailsInfo.email }}</p>
      </div>
      <button type="submit" class="btn" (click)="confirm()">confirm</button>
    </div>
    <!-- quando clicco sul confirm la proprietà accept diventa true e quindi mostrerò solo un messaggio di conferma -->
    <h1 *ngIf="accept">dati inviati</h1>
  </div>
</div>
