/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// variables
$navbar-width: 59px;
$navbar-color: aliceblue;
$hover-color: black;
$active-a-nav-tag-color: aquamarine;

.title {
  text-align: center;
  margin-bottom: 20px;
}
